body {
  background: #EEE;
  margin: 0;
  padding: 0;
}

h1 {
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
}

.banner {
  background-image: url("../resources/jade_2.JPG");
  background-size: cover;
  background-position: center center;
  height: 800px;
  width: 100%;
}

.banner .content h1 {
  font-size: 100px;
  color: white;
  border: 3px solid white;
  width: 1000px;
  margin: 0 auto;
  position: relative;
  top: 50px;
}

/* Navigation */

.navigation {
  box-sizing: border-box;
  background-color: #3587A4;
  overflow: auto;
  padding: 18px 50px;
  position: relative;
  top: 0;
  width: 100%;
  z-index: 999;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  color: #FFF;
  display: inline-block;
  font-family: 'Oxygen', sans-serif;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 2px;
  margin: 0;
  padding: 20px 18px 10px 18px;
  text-transform: uppercase;
}

/* Table */

table {
  height: 40%;
  left: 10%;
  margin: 20px auto;
  overflow-y: scroll;
  position: static;
  width: 80%;
}

thead th {
  background: #88CCF1;
  color: #FFF;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  font-weight: 100;
  letter-spacing: 2px;
  text-transform: uppercase;
}

tr {
  background: #f4f7f8;
  border-bottom: 1px solid #FFF;
  margin-bottom: 5px;
}

th, td {
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  font-weight: 400;
  padding: 20px;
  text-align: center;
  width: 20%;
}